.mask-group-1-1 {
  width: 60px;
  height: 24px;
  position: relative;
  object-fit: contain;
}
.card-group {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-smi);
  box-sizing: border-box;
}
.rent {
  height: 19px;
  width: 35px;
  position: relative;
  line-height: 120%;
  color: var(--greys-black);
  display: inline-block;
}
.buy {
  height: 19px;
  width: 29px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.sell {
  height: 19px;
  width: 28px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.group-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.symbol-child {
  width: 43px;
  height: 9px;
  position: absolute;
  margin: 0 !important;
  bottom: 0px;
  left: 0px;
}
.symbol {
  width: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-sm) var(--padding-9xs);
  box-sizing: border-box;
  position: relative;
}
.login {
  height: 19px;
  width: 42px;
  position: relative;
  font-size: var(--text-body-2-size);
  font-family: var(--text-small);
  color: var(--primary-400);
  text-align: left;
  display: inline-block;
}
.monthly-yearly-switcher {
  cursor: pointer;
  border: none;
  padding: var(--padding-base);
  background-color: var(--primary-100);
  flex: 1;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.monthly-yearly-switcher:hover {
  background-color: var(--color-lavender-100);
}
.sign-up {
  height: 19px;
  width: 61.56px;
  position: relative;
  font-size: var(--text-body-2-size);
  font-family: var(--text-small);
  color: var(--text-white);
  text-align: left;
  display: inline-block;
}
.monthly-yearly-switcher1 {
  cursor: pointer;
  border: none;
  padding: var(--padding-base) var(--padding-27xl) var(--padding-base)
    var(--padding-32xl);
  background-color: var(--primary-main);
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.monthly-yearly-switcher1:hover {
  background-color: var(--color-mediumslateblue-200);
}
.monthly-yearly-switcher-parent {
  width: 344px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.card-container {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-xl) var(--padding-16xl);
  box-sizing: border-box;
  gap: 333px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-body-2-size);
  color: var(--greys-300);
  font-family: var(--text-small);
}
.frame-child {
  width: 1920px;
  height: 660px;
  position: relative;
  background-color: var(--color-gray-300);
  display: none;
  max-width: 100%;
}
.span {
  color: var(--primary-200);
}
.smart {
  color: var(--white);
}
.live {
  color: var(--color-navajowhite);
}
.span1 {
  color: var(--greys-100);
}
.rent-smart-live-easy {
  margin: 0;
}
.rent-smart-live-container {
  margin: 0;
  width: 1124px;
  height: 202px;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.buy-rent-and {
  margin: 0;
  width: 430px;
  height: 25px;
  position: relative;
  font-size: var(--heading-h5-size);
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rent-smart-live-easy-the-fut-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.tag {
  width: 1209px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.welcome-container-child {
  height: 69px;
  width: 3px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--greys-400);
  z-index: 1;
}
.k {
  width: 144px;
  height: 66px;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.renters {
  height: 21px;
  width: 56px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  z-index: 1;
}
.description-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs) 0px 0px;
  font-size: var(--text-body-2-size);
  color: var(--white);
  font-family: var(--text-small);
}
.calvin-bailey-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.welcome-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.k1 {
  align-self: stretch;
  height: 66px;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.properties {
  height: 21px;
  width: 76px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  z-index: 1;
}
.properties-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xl) 0px var(--padding-xl);
  font-size: var(--text-body-2-size);
  color: var(--white);
  font-family: var(--text-small);
}
.k-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.welcome-container1 {
  width: 171px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.question-item {
  width: 422px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.search-01-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.search-for-rentals {
  border: none;
  outline: none;
  font-family: var(--text-small);
  font-size: var(--text-body-2-size);
  background-color: transparent;
  height: 21px;
  width: 288px;
  position: relative;
  line-height: 130%;
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
}
.search-01-parent {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--text-white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-base) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 312px;
  max-width: 100%;
  z-index: 1;
}
.browse-properties {
  height: 19px;
  width: 142.71px;
  position: relative;
  font-size: var(--text-body-2-size);
  font-family: var(--text-small);
  color: var(--text-white);
  text-align: left;
  display: inline-block;
}
.currency-symbol {
  cursor: pointer;
  border: none;
  padding: var(--padding-base) var(--padding-xl) var(--padding-base)
    var(--padding-5xl);
  background-color: var(--primary-main);
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.currency-symbol:hover {
  background-color: var(--color-mediumslateblue-200);
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.search-questions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 495px;
  max-width: 100%;
}
.question-list-f-a-q-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.question-list-f-a-q {
  height: 88px;
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-smi);
  box-sizing: border-box;
}
.iconly-light-search {
  width: 1028px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  max-width: 100%;
}
.iconly-light-search-wrapper {
  width: 1209px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--heading-h2-size);
  color: var(--primary-100);
}
.rectangle-parent {
  flex: 1;
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-101xl) var(--padding-xl) var(--padding-62xl) 105px;
  box-sizing: border-box;
  gap: 43px;
  background-image: url("./public/frame-1000000806@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.calvin-bailey-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-25xl);
  box-sizing: border-box;
  max-width: 100%;
}
.for-tenants {
  height: 21px;
  width: 91.56px;
  position: relative;
  font-size: var(--text-body-2-size);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--text-small);
  color: var(--primary-300);
  text-align: left;
  display: inline-block;
}
.pricing-boxes-frame {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-300);
  padding: var(--padding-base) var(--padding-lgi) var(--padding-base)
    var(--padding-4xl);
  background-color: var(--greys-20);
  border-radius: var(--br-5xs);
  box-shadow: 0px 4px 16px rgba(53, 53, 53, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.pricing-boxes-frame:hover {
  background-color: #dedede;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
}
.for-landlord {
  height: 21px;
  width: 92px;
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
}
.pricing-boxes-frame-parent {
  border-radius: var(--br-5xs);
  background-color: #fafafe;
  box-shadow: 0px 4px 8px rgba(37, 37, 37, 0.1);
  border: 1px solid #dadada;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xs) var(--padding-3xs)
    var(--padding-6xs);
  gap: var(--gap-5xl);
}
.pricing-frame-inner {
  width: 315px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.we-make-it {
  margin: 0;
  align-self: stretch;
  height: 104px;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
}
.amet-minim-mollit {
  align-self: stretch;
  height: 78px;
  position: relative;
  font-size: var(--heading-h6-size);
  line-height: 26px;
  font-family: var(--text-small);
  display: inline-block;
}
.calvin-bailey-tag {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  text-align: center;
  font-size: var(--heading-h3-size);
  color: var(--greys-400);
  font-family: var(--heading-h6);
}
.pricing-frame {
  width: 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
}
.divider-rectangle {
  width: 839px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.question-text-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-5xs);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.question-text-item {
  position: absolute;
  top: 14px;
  left: 310px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: none;
}
.question-text {
  align-self: stretch;
  height: 499px;
  position: relative;
  border-radius: var(--br-5xs);
  background-image: url("./public/rectangle-41493@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.iconly-light-search1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frequently-asked-questions {
  width: 562px;
  margin: 0 !important;
  position: absolute;
  right: -322px;
  bottom: -394px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-10xl) 0px 0px;
  box-sizing: border-box;
}
.some-menu-group {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: var(--br-29xl);
  overflow: hidden;
  flex-shrink: 0;
}
.virtual-home-tour {
  width: 160px;
  height: 22px;
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
}
.we-provide-you {
  width: 241px;
  height: 21px;
  position: relative;
  font-size: var(--text-body-2-size);
  line-height: 130%;
  font-family: var(--text-small);
  color: var(--greys-300);
  display: inline-block;
}
.linkedin-facebook-twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.footer-container {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  box-shadow: 0px 8px 24px rgba(53, 53, 53, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-21xl) var(--padding-9xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 2;
}
.question-item1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.f-a-q-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.answer-box-node {
  width: 155px;
  height: 167.1px;
  position: relative;
}
.monthly-yearly-switcher2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6px;
  max-width: 100%;
  font-size: var(--heading-h6-size);
  color: var(--greys-black);
  font-family: var(--heading-h6);
}
.twitter-icon {
  width: 996px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
  max-width: 100%;
}
.twitter-icon-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) 0px 256px;
  box-sizing: border-box;
  min-height: 842px;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-body-2-size);
  color: var(--greys-300);
  font-family: var(--text-small);
}
.facebook-link-icon {
  position: absolute;
  top: -0.5px;
  left: 0px;
  width: 323px;
  height: 501.4px;
  z-index: 1;
}
.header-frame-icon {
  position: absolute;
  top: -0.1px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.footer-group-icon {
  position: absolute;
  top: 13.7px;
  left: 245px;
  width: 28px;
  height: 38.3px;
  z-index: 1;
}
.card-collection {
  position: absolute;
  top: 133px;
  left: 190px;
  width: 308px;
  height: 359px;
}
.linkedin-link {
  height: 501px;
  width: 498px;
  position: absolute;
  margin: 0 !important;
  top: -362px;
  left: 22px;
}
.find-the-best {
  width: 154px;
  height: 22px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.browse-thousand-of {
  width: 234px;
  height: 21px;
  position: relative;
  font-size: var(--text-body-2-size);
  line-height: 130%;
  font-family: var(--text-small);
  color: var(--greys-300);
  display: inline-block;
}
.group-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  top: -17px;
  right: 43px;
  border-radius: var(--br-29xl);
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle-frame {
  width: 308px;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  box-shadow: 0px 8px 24px rgba(53, 53, 53, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  z-index: 2;
}
.rectangle-icon {
  height: 41.4px;
  width: 47px;
  position: relative;
}
.frame-icon {
  width: 10px;
  height: 15.3px;
  position: relative;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.f-a-q-item-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.f-a-q {
  height: 39.9px;
  width: 83px;
  position: relative;
}
.f-a-q-item-frame-parent {
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.based-on-your {
  margin: 0;
  height: 52px;
  width: 445px;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.mask-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rooms {
  width: 543px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.tag1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--heading-h3-size);
  color: var(--greys-400);
}
.header-group {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 53px;
  max-width: 100%;
}
.content-text-node {
  width: 1108px;
  height: 313px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-h6-size);
  color: var(--greys-black);
  font-family: var(--heading-h6);
}
.card-group-icon {
  height: 38.3px;
  width: 101px;
  position: absolute;
  margin: 0 !important;
  bottom: -17.2px;
  left: -21px;
}
.some-of-our {
  height: 22px;
  width: 347px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.card-group-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-container-icon {
  height: 76.7px;
  width: 64px;
  position: relative;
}
.property-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.currency-symbol-icon {
  width: 460px;
  height: 220px;
  position: absolute;
  margin: 0 !important;
  top: 15px;
  left: 15px;
  border-radius: var(--br-5xs);
  object-fit: cover;
  z-index: 1;
}
.calvin-bailey {
  margin: 0;
  height: 24px;
  width: 128px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.calvin-bailey-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-17xl);
}
.tag-1-1 {
  margin: 0;
  height: 21px;
  width: 21px;
  position: relative;
  background-image: url("./public/tag-1-1@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.b {
  height: 17px;
  width: 64px;
  position: relative;
  line-height: 120%;
  display: inline-block;
  white-space: nowrap;
}
.tag-1-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rooms1 {
  height: 17px;
  width: 72px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.group-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.description-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
  font-size: var(--text-small-size);
  color: var(--black-600);
}
.badagry-lagos {
  font-weight: 600;
}
.welcome-to-oceanview-container {
  align-self: stretch;
  height: 78px;
  position: relative;
  font-size: var(--text-body-2-size);
  line-height: 130%;
  color: var(--black-500);
  display: inline-block;
  flex-shrink: 0;
  font-family: var(--text-small);
}
.frame-icon2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.frame-icon3 {
  position: absolute;
  top: 0px;
  left: 36px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.frame-div {
  width: 56px;
  height: 20px;
  position: relative;
}
.description1 {
  width: 460px;
  margin: 0 !important;
  position: absolute;
  top: 250px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
  z-index: 1;
}
.card {
  align-self: stretch;
  height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-mini);
  max-width: 100%;
  cursor: pointer;
  font-size: var(--heading-h5-size);
  color: var(--black-700);
  font-family: var(--font-poppins);
}
.footer-linkedin-facebook-twitt {
  width: 490px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  min-width: 490px;
  max-width: 100%;
}
.card-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}
.rooms-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.card1 {
  height: 431px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-mini);
  min-width: 318px;
  max-width: 100%;
}
.card-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  min-width: 653px;
  max-width: 100%;
  font-size: var(--heading-h5-size);
  color: var(--black-700);
  font-family: var(--font-poppins);
}
.some-menu-monthly-yearly {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  min-height: 574px;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-h6-size);
  color: var(--greys-300);
  font-family: var(--text-small);
}
.card3 {
  height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-mini);
  max-width: 100%;
}
.card5 {
  height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-mini);
  max-width: 100%;
  cursor: pointer;
}
.card-container1 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-height: 595px;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(367px, 1fr));
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--black-700);
  font-family: var(--font-poppins);
}
.frequently-asked-questions1 {
  margin: 0;
  width: 789px;
  height: 78px;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.here-are-some-container {
  width: 399px;
  height: 52px;
  position: relative;
  font-size: var(--heading-h6-size);
  line-height: 26px;
  font-family: var(--text-small);
  color: var(--grey-3);
  display: inline-block;
  max-width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.iconlylightsearch {
  height: 24px;
  width: 24px;
  position: relative;
}
.search-questions1 {
  border: none;
  outline: none;
  font-family: var(--font-kumbh-sans);
  font-size: var(--text-small-size);
  background-color: transparent;
  height: 18px;
  width: 111px;
  position: relative;
  line-height: 130%;
  color: var(--grey-3);
  text-align: left;
  display: inline-block;
}
.field {
  width: 529px;
  background-color: var(--white);
  border: 1px solid var(--grey-1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-18xl);
  gap: var(--gap-3xs);
  max-width: 100%;
}
.header-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.monthly-yearly {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-24xl);
  background-color: var(--primary-100);
}
.monthly-yearly1 {
  height: 100%;
  width: 108.1px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-24xl);
  background-color: var(--primary-300);
  z-index: 1;
}
.monthly {
  height: 17px;
  width: 58px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.yearly {
  height: 17px;
  width: 47px;
  position: relative;
  display: inline-block;
  color: var(--primary-300);
  z-index: 1;
}
.switcher {
  width: 199px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-13xl) var(--padding-2xs)
    var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  font-size: var(--text-small-size);
  color: var(--text-white);
  font-family: var(--text-small);
}
.f-a-q-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  max-width: 100%;
}
.a-question-goes {
  height: 22px;
  width: 185px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.vector-icon {
  height: 1.5px;
  width: 14.1px;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-con {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor {
  align-self: stretch;
  height: 144px;
  position: relative;
  font-size: var(--text-small-size);
  line-height: 130%;
  color: var(--grey-3);
  white-space: pre-wrap;
  display: inline-block;
}
.faq-item-1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  box-shadow: 0px 30px 44px 20px rgba(231, 231, 231, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-22xl) var(--padding-9xs)
    var(--padding-21xl);
  gap: var(--gap-2xl);
  font-family: var(--text-small);
}
.a-question-goes1 {
  height: 22px;
  width: 187px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.f-a-q-item-content {
  height: 14.1px;
  width: 14.1px;
  position: relative;
}
.faq-list-2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  box-shadow: 0px 30px 44px 20px rgba(231, 231, 231, 0.35);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-10xl) var(--padding-9xl) var(--padding-10xl)
    var(--padding-21xl);
  gap: var(--gap-xl);
}
.question-list {
  width: 665px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-h6-size);
}
.faq-1 {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-101xl) var(--padding-xl) var(--padding-85xl)
    var(--padding-2xl);
  box-sizing: border-box;
  gap: 88px;
  max-width: 100%;
  z-index: 1;
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--text-black);
  font-family: var(--heading-h6);
}
.mask-group-1-11 {
  width: 60px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.some-menu {
  height: 18px;
  width: 40px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  mix-blend-mode: normal;
}
.menu {
  height: 18px;
  width: 59px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  mix-blend-mode: normal;
}
.menu1 {
  height: 18px;
  width: 56px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  mix-blend-mode: normal;
}
.menu2 {
  height: 18px;
  width: 54px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  mix-blend-mode: normal;
}
.menu3 {
  height: 18px;
  width: 91px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  mix-blend-mode: normal;
}
.divider1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.mask-group-1-1-parent {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px;
  max-width: 100%;
}
.linkedin-icon {
  height: 35px;
  width: 35px;
  position: relative;
  min-height: 35px;
}
.frame-divider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 3px 0px 0px;
  gap: var(--gap-sm);
}
.mask-group-frame {
  width: 1217px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.divider3 {
  height: 4.4px;
  flex: 1;
  position: relative;
  background-color: rgba(9, 20, 47, 0.06);
  border: 1px solid var(--dark);
  box-sizing: border-box;
  max-width: 100%;
}
.divider2 {
  align-self: stretch;
  height: 3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.pricing {
  height: 20px;
  width: 295px;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
}
.pricing1 {
  height: 18px;
  width: 47px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  flex-shrink: 0;
}
.pricing2 {
  height: 18px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.pricing-parent {
  width: 236px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--text-small-size);
}
.pricingsection {
  width: 1160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.twittericon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.facebookicon {
  width: 1215px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-4xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--text-body-2-size);
  color: var(--text-black);
}
.footer-5 {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-101xl) var(--padding-4xl) 151px var(--padding-xl);
  box-sizing: border-box;
  gap: 132px;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-small-size);
  color: var(--color-gray-400);
  font-family: var(--font-kumbh-sans);
}
.frame-group {
  width: 1560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--heading-h1-size);
  color: var(--white);
  font-family: var(--heading-h6);
}

@media screen and (max-width: 1275px) {
  .card-container {
    gap: 166px;
  }

  .rectangle-parent {
    padding-left: var(--padding-33xl);
    box-sizing: border-box;
  }

  .twitter-icon-wrapper {
    padding-left: 128px;
    box-sizing: border-box;
  }

  .footer-linkedin-facebook-twitt {
    flex: 1;
  }

  .some-menu-monthly-yearly {
    flex-wrap: wrap;
  }

  .card-container1 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(367px, 637px));
  }

  .faq-1 {
    padding-top: var(--padding-59xl);
    padding-bottom: 68px;
    box-sizing: border-box;
  }

  .footer-5 {
    gap: 66px;
  }
}
@media screen and (max-width: 1100px) {
  .group-frame {
    display: none;
  }

  .symbol {
    width: 4px;
  }

  .twitter-icon {
    gap: var(--gap-16xl);
  }

  .card-parent {
    flex-wrap: wrap;
  }

  .faq-1 {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 750px) {
  .card-container {
    gap: var(--gap-64xl);
  }

  .rent-smart-live-container {
    font-size: 58px;
    line-height: 81px;
  }

  .k {
    font-size: var(--font-size-26xl);
    line-height: 63px;
  }

  .k1 {
    font-size: var(--font-size-26xl);
    line-height: 63px;
  }

  .frame-parent {
    flex-wrap: wrap;
  }

  .search-questions {
    min-width: 100%;
  }

  .iconly-light-search {
    gap: var(--gap-lgi);
  }

  .rectangle-parent {
    gap: var(--gap-2xl);
    padding-left: var(--padding-7xl);
    padding-top: var(--padding-59xl);
    padding-bottom: 53px;
    box-sizing: border-box;
  }

  .calvin-bailey-name {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }

  .we-make-it {
    font-size: var(--font-size-13xl);
    line-height: 42px;
  }

  .pricing-frame {
    gap: var(--gap-base);
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .twitter-icon {
    gap: var(--gap-mid);
  }

  .twitter-icon-wrapper {
    padding-left: 64px;
    box-sizing: border-box;
  }

  .based-on-your {
    font-size: var(--font-size-13xl);
    line-height: 42px;
  }

  .header-group {
    gap: var(--gap-7xl);
  }

  .footer-linkedin-facebook-twitt {
    min-width: 100%;
  }

  .card-parent {
    min-width: 100%;
  }

  .card-container1 {
    grid-template-columns: minmax(367px, 1fr);
  }

  .frequently-asked-questions1 {
    font-size: var(--font-size-26xl);
    line-height: 63px;
  }

  .faq-1 {
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }

  .mask-group-frame {
    flex-wrap: wrap;
  }

  .pricingsection {
    flex-wrap: wrap;
  }

  .footer-5 {
    gap: var(--gap-14xl);
    padding-top: var(--padding-59xl);
    padding-bottom: 98px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .monthly-yearly-switcher-parent {
    display: none;
  }

  .card-container {
    gap: var(--gap-23xl);
  }

  .rent-smart-live-container {
    font-size: 43px;
    line-height: 60px;
  }

  .buy-rent-and {
    font-size: var(--text-body-2-size);
  }

  .k {
    font-size: var(--font-size-15xl);
    line-height: 47px;
  }

  .k1 {
    font-size: var(--font-size-15xl);
    line-height: 47px;
  }

  .question-item {
    flex-wrap: wrap;
  }

  .pricing-boxes-frame-parent {
    flex-wrap: wrap;
  }

  .we-make-it {
    font-size: var(--h4-regular-size);
    line-height: 31px;
  }

  .twitter-icon-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .based-on-your {
    font-size: var(--h4-regular-size);
    line-height: 31px;
  }

  .property-list {
    flex-wrap: wrap;
    gap: var(--gap-mid);
  }

  .calvin-bailey {
    font-size: var(--text-body-2-size);
    line-height: 19px;
  }

  .frequently-asked-questions1 {
    font-size: var(--font-size-15xl);
    line-height: 47px;
  }

  .f-a-q-component {
    gap: var(--gap-3xl);
  }

  .faq-1 {
    gap: var(--gap-3xl);
  }

  .divider1 {
    flex-wrap: wrap;
  }

  .mask-group-1-1-parent {
    gap: var(--gap-10xl);
  }

  .footer-5 {
    gap: var(--gap-base);
  }
}
